
body {
	background-color:#D2B48C;
        margin:0 auto;
}

table {
   border-collapse: separate;
   border: solid white;
   background-color: white;
   border-collapse: separate;
   border-spacing: 7px;
   
}

th {
    background-color: #FFFF99;
    color: #FFFF99 ;
}
h1{
   text-align: left;
   color: #FFFF99 ;
}
a{
   
   color: #FFFF99 ;
}
td {
    background-color: #F08080;
    color: #FFFF99 ;
}

input [readonly] {background-color:gray;}

       
         
         

.update td {border: none; height: 25px; padding:10px; font-weight: bold;}



.right {text-align: right;}


